{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Список учеников</title>
    </head>
    <body>
      <div class='page-header'>
      </div>
      <div class='content container'>
        <div class='row'>
          <div class='col-md-8'>
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </body>
</html>
