{% extends 'life/base.html' %}

{% block content %}
    <div>
        <h1><a href="/">Список учеников</a></h1>
        <a class="btn btn-light" href="{% url 'person_new' %}" class="top-menu">Добавить</a>
        <a class="btn btn-light" href="#" class="top-menu">Найти</a>
        <hr />
    </div>

    {% for person in persons %}
      <div>
          <h2>
            <a href="{% url 'person_detail' pk=person.pk %}">
              {{ person.surname }} {{ person.first_name }} {{ perosn.patronymic }}
            </a>
          </h2>
          <p>Родился(лась): {{ person.birth_date | date:"d-m-Y" }}</p>
          <p>СНИЛС: {{ person.snils }}</p>
          <p>Паспорт: {{ person.passport }}</p>
      </div>
    {% endfor %}
{% endblock %}
